#meme {
  // border: 2px solid #333;
}

.box {
  display: block;
  width: 100%;
  padding: 0;
  float: none;
}s
.fullwidth {
  width: 100%;
  max-width: 500px;
  max-height: 800px;
}

#imgFile {
  display: none;
}

input[type="text"],
input[type="range"] {
  width: 100%;
}

h3 > i.fa {
  margin-right: 0.2em;
}
